apscheduler==3.11.2
fastapi==0.135.3
httpx==0.28.1
jose==1.0.0
openai==2.31.0
opencv_python_headless==4.13.0.92
pandas==3.0.2
passlib==1.7.4
pip==26.0.1
psutil==7.2.2
psycopg2_binary==2.9.11
pydantic==2.13.0
pydantic_settings==2.13.1
pymysql==1.1.2
python_jose==3.3.0
SQLAlchemy==1.4.43
starlette==1.0.0
urllib3==2.6.3
uvicorn==0.44.0
pydantic[email]
minio
python-multipart
